.block
  %template{ "v-if" => "showSidebar" }
    %time-tracker{ "root-path" => "#{root_url}",
      ":time_estimate" => "issue.time_estimate",
      ":time_spent" => "issue.time_spent",
      ":human_time_estimate" => "issue.human_time_estimate",
      ":human_time_spent" => "issue.human_time_spent" }
