"#{attachment_type}" attachment has been truncated to avoid exceeding a maximum allowed attachment size of 20MB. #{written_count} of #{issues_count} issues have been included. Consider re-exporting with a narrower selection of issues.
