%p{ style: 'font-size:18px; text-align:center;  line-height:30px;' }
  = render partial: 'csv_issues_email_title.text.haml',
           locals: { project_full_name: (link_to @project.full_name,
                                                 project_url(@project),
                                                 { style: 'color: #3777b0; text-decoration: none; display: block;' }) }

  - @csv_services.each do |service|
    - if service.csv_builder.truncated?
      %p
        = render partial: 'csv_issues_email_truncated.text.haml',
                 locals: { written_count:   service.csv_builder.rows_written,
                           issues_count:    service.csv_builder.rows_expected,
                           attachment_type: service.postfix }
