= render partial: 'csv_issues_email_title',
         locals: { project_full_name: @project.full_name }

- @csv_services.each do |service|
  - if service.csv_builder&.truncated?
    = render partial: 'csv_issues_email_truncated',
             locals: { written_count:   service.csv_builder.rows_written,
                       issues_count:    service.csv_builder.rows_expected,
                       attachment_type: service.postfix }
